<?xml version="1.0"?>

<model>
  <name>robotaksi_ros2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Alper Tuna</name>
    <email>alper358tuna@gmail.com</email>
  </author>

  <description>
    A Gazebo model to use on Teknofest Robotaksi on ROS2.
  </description>
</model>
